<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameSphere Accueil</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<header class="header">
    <div class="logo">
        <img src="../../Assets/Imgs/logo.png" alt="Logo">
    </div>
    <div class="buttons">
        <button class="button">Button 1</button>
        <button class="button">Button 2</button>
    </div>
</header>

<div class="search-container">
    <form action="/search" method="GET">
        <input type="text" placeholder="Search..." name="q">
        <button type="submit">Search</button>
    </form>
</div>

<div id="games-container"></div>

<script>
    function fetchGames() {
        fetch('/api/jeux')
            .then(response => response.json())
            .then(data => {
                const gamesContainer = document.getElementById('games-container');
                
                gamesContainer.innerHTML = '';

                data.forEach(game => {
                    const gameElement = document.createElement('div');
                    gameElement.innerHTML = `
                        <div class="game">
                            <img src="${game.image}" alt="${game.nom}">
                            <h2>${game.nom}</h2>
                            <p>Prix: ${game.prix}</p>
                            <p>Note moyenne: ${game.note_moyenne}</p>
                            <p>Avis: ${game.avis_utilisateur}</p>
                        </div>
                    `;
                    gamesContainer.appendChild(gameElement);
                });
            })
            .catch(error => console.error('Erreur lors de la récupération des jeux:', error));
    }

    fetchGames();
</script>

</body>
</html>
