/*____________________ Global Styles ____________________*/

/* Basic reset for body */
body {
    background-color: #f0f0f0;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Layout for login body */
.body_login {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*____________________ Header Styles ____________________*/

/* Header container */
header {
    background-color: #24305e;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0;
}

/* Logo styles */
.logo {
    height: 50px;
}

/* Header links */
header a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 24px;
}

/*____________________ Footer Styles ____________________*/

/* Footer container */
footer {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: center;
    color: #666;
    flex: 0;
}

/* Footer list */
footer ul {
    list-style: none;
    padding: 0;
}

/* Footer links */
footer a {
    color: #666;
    text-decoration: none;
    margin: 0 10px;
}

/* Footer links hover effect */
footer a:hover {
    color: #24305e;
}

/*____________________ Main Container Styles ____________________*/

/* Main login container */
.main_login {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Login form container */
.login_container {
    border: solid 1px #ccc;
    padding: 40px;
    background-color: #e7e7e7;
}

/* Header styles within the login page */
h1 {
    color: #24305e;
    text-align: center;
    margin-bottom: 20px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #24305e;
    color: #f0f0f0;
}

thead th {
    padding: 15px;
    text-align: left;
}

tbody tr {
    border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(even) {
    background-color: #e0e0e0;
}

tbody td {
    padding: 15px;
    text-align: left;
}
