<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/games_users.css">
    <title>Title</title>
</head>

<body>
    <header>
        <a href="/admin/index">
            <img src="../../Assets/Imgs/logo.png" alt="Logo de GameSphere">
        </a>
    </header>
    

<table id="jeuxTable">
    <thead>
        <tr>
            <th>Picture</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Note Moyenne</th>
            <th>Quantite</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td><img src="{{ game['picture'] }}" alt="Game Picture" width="50" height="50"></td>
            <td>{{ game['nom'] }}</td>
            <td>{{ game['prix'] }}</td>
            <td>{{ game['note_moyenne'] }}</td>
            <td>{{ game['quantite'] }}</td>
            <td>
                <a href="/admin/edit_jeu/{{ game.id }}" class="btn edit-btn">Edit</a>
                <a href="/admin/delete_jeu/{{ game.id }}" class="btn delete-btn">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="/admin/new_jeux"  class="btn add-btn">Add Game</a>

<footer>
    <ul>
        <li>
            <a href="#">Mentions légales</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
        <li>
            <a href="#">A propos de GameSphere</a>
        </li>
    </ul>
    <p>Copyright © 2024. All rights reserved.</p>
</footer>

</body>
</html>
