<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameSphere - Tableau de bord Admin</title>
</head>

<body>
    <header>
        <a href="/admin/index">
            <img src="../../Assets/Imgs/logo.png" alt="Logo de GameSphere">
        </a> 
    </header>

    <main>
        <h1>Tableau de bord.</h1>

        <div class="card_members">
            <p>x membres</p>
            <div class="add_member">+</div>
        </div>
        <div class="card_games">
            <p>x jeux</p>
            <div class="add_game">+</div>
        </div>
        <div class="card_sales">
            <p>x ventes au total</p>
        </div>
        <div class="card_7sales">
            <p>x ventes sur les 7 denriers jours</p>
        </div>
        <div class="card_incomes">
            <p>x€ de revnus totaux</p>
        </div>
        <div class="card_7incomes">
            <p>x€ de revenus sur les 7 derniers jours</p>
        </div>
    </main>

    <footer>
        <ul>
            <li>
                <a href="#">Mentions légales</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">A propos de GameSphere</a>
            </li>
        </ul>
    </footer>
</body>

</html>
