<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>GameSphere - Tableau de bord Admin</title>
</head>

<body>
    <header>
        <a href="/admin/index">
            <img src="../../Assets/Imgs/logo.png" alt="Logo de GameSphere">
        </a>
    </header>

    <main>
        <h1>Tableau de bord</h1>

        <div class="dashboard">
    <div class="card card_members">
        <p>{{ num_users }} membres</p>
        <a href="/admin/users" class="manage_users">Gérer les utilisateurs</a>
    </div>
    <div class="card card_games">
        <p>{{ num_games }} jeux</p>
        <a href="/admin/games" class="manage_games">Gérer les jeux</a>
    </div>
    <div class="card card_sales">
        <p>x ventes au total</p>
    </div>
    <div class="card card_7sales">
        <p>x ventes sur les 7 derniers jours</p>
    </div>
</div>



        <div class="flex-container">
            <!-- Users Section -->
            <div class="section">
                <a href="/admin/new_utilisateur"  class="btn add-btn">Add User</a>
                <div class="scroll-box" id="user-list">
                    {% for user in users %}
                    <div class="user-item">
                        <img src="{{ user.profile_picture }}" alt="User Profile Picture">
                        <span>{{ user.prenom }} {{ user.nom }}</span>
                        <td>
                            <a href="/admin/edit_utilisateur/{{ user.id }}" class="btn edit-btn">Edit</a>
                            <a href="/admin/delete_utilisateur/{{ user.id }}" class="btn delete-btn">Delete</a>
                        </td>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Games Section -->
            <div class="section">
                <a href="/admin/new_jeux"  class="btn add-btn">Add Game</a>
                <div class="scroll-box" id="game-list">
                    {% for game in games %}
                    <div class="game-item">
                        <img src="{{ game.picture }}" alt="Game Picture">
                        <div class="game-info">
                            <div class="game-header">
                                <span class="game-name">{{ game.nom }}</span>
                                <span class="game-price">{{ game.prix }} $</span>
                            </div>
                            <span class="game-stock">Stock: {{ game.quantite }}</span>
                            <span class="game-note">Average Note: {{ game.note_moyenne }}</span>
                        </div>
                        <td>
                            <a href="/admin/edit_jeu/{{ game.id }}" class="btn edit-btn">Edit</a>
                            <a href="/admin/delete_jeu/{{ game.id }}" class="btn delete-btn">Delete</a>
                        </td>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

    <footer>
        <ul>
            <li>
                <a href="#">Mentions légales</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">A propos de GameSphere</a>
            </li>
        </ul>
        <p>Copyright © 2024. All rights reserved.</p>
    </footer>
</body>

</html>
