<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/main.css" rel="stylesheet" />
    <title>GameSphere - Connexion admin</title>
</head>

<body  class="body_login">
    <header>
        <a href="/admin/index">
            <img src="../../Assets/Imgs/logo.png" alt="Logo de GameSphere">
        </a> 
    </header>
    
    <main class="main_login">
        <div class="login_container">
            <h1>Connexion</h1>

            <form action="/checkID" method="POST">
                <input type="text" id="username" name="username" placeholder="Nom d'utilisateur" required><br>
                <input type="password" id="password" name="password" placeholder="Mot de passe" required><br><br>
                <input type="submit" value="Connexion">
            </form>
        </div>
    </main>

    <footer>
        <ul>
            <li>
                <a href="#">Mentions légales</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">A propos de GameSphere</a>
            </li>
        </ul>
        <p>Copyright © 2024. All rights reserved.</p>
    </footer>
</body>

</html>