<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/games_users.css">
    <title>Title</title>
</head>

<body>
    <header>
        <a href="/admin/index">
            <img src="../../Assets/Imgs/logo.png" alt="Logo de GameSphere">
        </a>
    </header>
    

<table id="utilisateursTable">
    <thead>
        <tr>
            <th>Profile Picture</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Password</th>
            <th>Balance</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td><img src="{{ user['profile_picture'] }}" alt="Profile Picture" width="50" height="50"></td>
            <td>{{ user['prenom'] }}</td>
            <td>{{ user['nom'] }}</td>
            <td>{{ user['mail'] }}</td>
            <td>{{ user['date_naissance'] }}</td>
            <td>{{ user['mot_de_passe'] }}</td>
            <td>{{ user['solde'] }}</td>
            <td>
                <a href="/admin/edit_utilisateur/{{ user.id }}" class="btn edit-btn">Edit</a>
                <a href="/admin/delete_utilisateur/{{ user.id }}" class="btn delete-btn">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="/admin/new_utilisateur"  class="btn add-btn">Add User</a>

<footer>
    <ul>
        <li>
            <a href="#">Mentions légales</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
        <li>
            <a href="#">A propos de GameSphere</a>
        </li>
    </ul>
    <p>Copyright © 2024. All rights reserved.</p>
</footer>

</body>
</html>
